#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    margin-top: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

#header {
    height: 200px;
    width: calc(100% + 16px);
    background: #19192d;
    margin: 0 -8px;
    padding-top: 4.5rem;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

#code {
    position: absolute;
    top: 6.5rem;
    left: 0;
    right: 0;
    text-align: center;
}

#code h5 {
    font-size: 12px;
    line-height: 0;
    color: #fff;
}

#code h3 {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

#callEnded {
    position: absolute;
    left: 4rem;
    right: 4rem;
    top: 25%;
    z-index: 10;
    background: #23252f;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 4px;
    color: #fff;
}

#callEnded button {
    margin-top: 1rem;
}

#callEndedFace {
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    z-index: 9;
}

hr {
    border: none;
    border-top: 1px solid #2f2f57;
}

.conntype {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.padded {
    padding: 2rem;
}

.red {
    color: #e85600;
    cursor: pointer;
}

.main-container {
    height: 100%;
}

.main-container .columns {
    height: 100%;
}

.main {
    background: #19192d;
    height: 100%;
}

.settings {
    background: #23252f;
}

#canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 100%;
}

#body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40%
}

.form-input {
    background: #2f2f57;
    border: 1px solid #000;
    color: #fff;
}

.input-label {
    font-size: 17px;
    display: inline-block;
    width: 100%;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}